# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# Environment variables
.env
.env.*        # .env.local, .env.production, etc.
!.env.example # mantém um exemplo visível no repositório
# Cache do Vite / ferramentas modernas
.cache/
.vite/

# Arquivos temporários de SO
Thumbs.db
# Python environment
venv/
